@import '../variables.css';

.root {
  height: auto;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.container {
  display: flex;
  flex-direction: row;
}

.rootInner {
  //margin: 0px auto 30px;
}

.containerInner {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.title {
  font-size: 3em; /* ~48px */
  margin: 60px 30px 20px; 
}

.titleWrapper {
  max-width: 380px;
  width: 100%;
  font-size: 1.5em; /* ~24px */
  margin-bottom: 10px;
}

.imageWrapper { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 420px;
  width: 100%;
}

.imageWrapper > img {
  padding: 10px;
  opacity: 0.7;
  transition: 0.2s;
}

.imageWrapper > img:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.4s;
}

.leftContainer {
  min-width: 880px;
  width: 100%;
  border-top: 1px solid black;
}

.navWrap {
  font-weight: 500;
  margin: 10px 0;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
  padding-left: 10px;
  font-size: 1em; /* ~16px */
  transition: 0.1s;
}

.link:hover {
  color: #F76868;
  transition: 0.2s;
}

@media (max-width: 1100px) {
  .containerInner {
    flex-direction: column;
  }
  
  .titleWrapper {
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .imageWrapper {
    
  }
  
  .leftContainer { 
    min-width: 400px;
  }
  .imageWrapper > img {
    
  }
}