@import '../variables.css';

.root {
  margin: 0px auto;
  max-width: var(--max-content-width);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 150px auto;
  padding: 0 30px;
  max-width: var(--screen-lg-min);
}

.item {
  margin: 0 40px;
}

.image {
  width: 441px;
  height: 535px;
  opacity: 0.7;
  transition: 0.2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.4s;
}

.title {
  font-size: 3.000em; /* ~48px */
}

.text {
  font-size: 1.250em; /* ~20px */
  margin-bottom: 30px;
}

.text > p {
  padding-bottom: 20px;
}

.linkWrapper {
  display: flex;
}

.link {
  margin-right: 60px;
  padding-bottom: 0.625em; /* ~10px */
  font-size: 1.250em; /* ~20px */
  text-decoration: none;
  border-bottom: 2px solid #3C3C43;
}

.link,
.link:active,
.link:visited {
  color: rgba(60, 60, 67, 1); /* #3C3C43 */
}

.link:hover {
  color: rgba(60, 60, 67, 0.7);
  border-bottom: 2px solid rgba(60, 60, 67, 0.7);
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .item {
    margin: 0;
  }
  .imageWrapper {
    height: 50vw;
    overflow: hidden;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .title {
    margin: 30px 0;
  }
  .linkWrapper {
    flex-wrap: wrap;
  }
  .link {
    margin-top: 20px;
  }
  .text {
    margin-bottom: 0;
  }
}