@import '../variables.css';

.root {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
}

.bannerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 917px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languageSwitch {
  font-size: 1.125em; /* ~18px */
}
 
@media (max-width: 1380px ) {
  .container {
    padding: 0 30px;
  }
  .bannerWrapper {
    width: 100%;
    margin: 0 30px 0 0;
  }
}

@media (max-width: 1100px ) {
  .container {
    padding: 0;
  }
  .btnWrapper {
    margin: 30px 30px 0px;
  }
  .bannerWrapper {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .languageSwitch { 
    display: none;
  }
  .btnWrapper {
    justify-content: flex-end;
  }
}
