@import '../variables.css'; 

.root {
  margin: 30px;
}

.container {
  display: flex;
  flex-direction: row;
}

.titleWrapper {
  width: 380px;
  font-size: 1.5em; /* ~24px */
}

.imageWrapper {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.imageWrapper > img {
  padding: 10px;
}

.leftContainer {
  width: 100%;
  border-top: 1px solid black;
}

.link {
  padding-left: 30px;
  font-size: 1em; /* ~16px */
}
