.btnResponsive {
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  min-height: 50px;
  color: white;
  outline: none;
  border: 0;
}

.btnResponsive,
.btnResponsive:active,
.btnResponsive:visited {
  background-color: #3c3c43;
}

.btnResponsive:hover {
  background-color: rgba(60, 60, 67, 0.7);
  transition: 0.2s;
}
