@import '../variables.css';

.root {
  background: #fff;
  color: #4f4f4f;
}

.container {
  margin: 150px auto;
  max-width: var(--max-content-width);
  text-align: center;
}

.contactHeader {
  font-size: 50px;
  font-weight: bold;
  margin: 0px 30px 16px;
}

.contactText {
  font-size: 20px;
  color: black;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto;
  }
}
