.btnWhite {
  min-width: 200px;
  min-height: 50px;
  color: #3c3c43 ;
  background: white;
  outline: none;
  border: 2px solid #3c3c43;
  cursor: pointer;
  font-size: 1.250em;
}

.btnWhite,
.btnWhite:active,
.btnWhite:visited {
  color: rgba(60, 60, 67, 1); 
  transition: 0.2s;
}

.btnWhite:hover {
  color: white;
  background-color: rgb(60, 60, 67);
  transition: 0.4s;
}