@import '../variables.css'; 

:root {
 
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F0DD;
  width: 100%;
  min-height: 409px;
}

.bannerTitle {
  font-size: 3.375em; /* ~54px */
  text-align: center;
}

@media (max-width: 400px) {
  .bannerTitle {
    font-size: 2em;
  }
}